<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Student Management System</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <!-- Navbar -->
    <nav class="navbar navbar-light bg-dark justify-content-between">
        <a class="navbar-brand text-success font-weight-bold">Student Management System</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <!-- Form -->
    <div class="container">
        <div class="div_form">
        <form id="student_form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="exampleInputBranch">Branch</label>
                <input type="text" class="form-control" id="exampleInputBranch" placeholder="Branch">
            </div>
            <input type="hidden" class="form-control" id="exampleInputId" placeholder="Branch" >

            <button type="submit" class="btn btn-primary" id="subm">Submit</button>
        </form>
    </div>
        <!-- FOrm End -->
        <br><br>
        <!-- table Start -->
        <div class="stude_table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">BRANCH</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for val in data %}
                <tr>
                    <th scope="row">{{val.id}}</th>
                    <td>{{val.name}}</td>
                    <td>{{val.email}}</td>
                    <td>{{val.branch}}</td>
                    <td>
                        <a data-target="#student_form" data-button='{"student_id":"{{val.id}}","student_name":"{{val.name}}","student_email":"{{val.email}}","student_branch":"{{val.branch}}"}' href="#" class="btn btn-info btn-xs edit_student">EDIT</a>
                        <a data-button='{"student_id":"{{val.id}}"}' href="#" class="btn btn-danger btn-xs delet_student">Delete</a>
                    </td>
                    <!-- <td><a data-toggle="modal" data-target="#delete_tutorial"  data-button='{"tutorial_id":"{{row.tutorial_id}}"}' href="#" class="btn btn-info btn-xs delete_tutorial">Delete</a></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <!-- Table end -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // ADDING NEW VALUE ACTION
    $(document).ready(function () {
        $("#subm").click(function (e) {
            e.preventDefault();
            var name = $("#exampleInputName").val();
            var email = $("#exampleInputEmail1").val();
            var branch = $("#exampleInputBranch").val();
            var stu_id = $("#exampleInputId").val();
            
            data = {
                'name': name,
                'email': email,
                'branch': branch,
                'stu_id': stu_id
            }
            // console.log(name, email, branch);
            $.ajax({
                type: "POST",
                url: "{% url 'send_data'%}",
                data: data,
                dataType: 'json',
                success: function (data) {
                    // var json_data = $.parseJSON(data)
                    console.log(data)
                    var json_data = JSON.parse(JSON.stringify(data));
                    console.log(json_data.name)

                    // console.log('DATA SENT')
                    // location.reload();
                    $('.table').append(`
                    <tr>
                        <th scope="row">${json_data.id}</th>
                        <td>${json_data.name}</td>
                        <td>${json_data.email}</td>
                        <td>${json_data.branch}</td>
                        <td>
                            <a data-target="#student_form" data-button='{"student_id":"${json_data.id}","student_name":"${json_data.name}","student_email":"${json_data.email}","student_branch":"${json_data.branch}"}' href="#" class="btn btn-info btn-xs edit_student">EDIT</a>
                            <a data-button='{"student_id":"${json_data.id}"}' href="#" class="btn btn-danger btn-xs delet_student">Delete</a>
                        </td>
                    </tr>
                `);
                }
            });
        });

        // DELETE ACTION
        $('body').on("click", ".delet_student", function () {
                var data = $.parseJSON($(this).attr('data-button'));
                var student_id = data.student_id;
                console.log(student_id)
                $.ajax({
                    url: "{% url 'delete_data' %}",
                    type: "post",
                    data: {
                        student_id: student_id,
                    },
                    success: function (data) {
                        alert('DATA DELETED')
                        location.reload();
                    }
                });
        });

        // EDIT ACTION
        $('body').on("click", ".edit_student", function () {

        var data = $.parseJSON($(this).attr('data-button'));
        var student_id = data.student_id;
        // console.log(student_id)
        $("#exampleInputEmail1").val(data.student_email);
        $("#exampleInputName").val(data.student_name);
        $("#exampleInputBranch").val(data.student_branch);
        $("#exampleInputId").val(data.student_id);
        var fd = new FormData($("#student_form")[0]);
        console.log(fd)
        // https://stackoverflow.com/questions/66863241/automatically-updates-the-table-without-refreshing-reloading-the-page
        // $.ajax({
        //     url: "{% url 'send_data' %}",
        //     type: "post",
        //     dataType: 'json',
        //     data: fd,
        //     cache : false,
        //     processData: false,
        //     success: function (data) {
        //         var data = JSON.parse(data);
        //         // location.reload();
        //     }
        // });
        });

    });

</script>


</html>